<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card>
      <mat-card-title align="center">Registration</mat-card-title>

      <mat-card-content align="center">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <form [formGroup]="userData">
            <mat-form-field style="width:100%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
              <input matInput placeholder="Enter your name" required formControlName="name">
              <mat-label>Name</mat-label>
            </mat-form-field>
            <mat-form-field style="width:100%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
              <input matInput placeholder="Enter your email" required formControlName="email">
              <mat-label>Email</mat-label>
            </mat-form-field>
            <mat-form-field style="width:100%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;">
              <input matInput placeholder="Enter mobile number" required formControlName="mobile">
              <mat-label>Mobile</mat-label>
            </mat-form-field><button mat-raised-button style="width:100%;" (click)="onclick(userData.value)">Submit</button><button mat-raised-button style="width:100%;margin-top:20px;" color="primary" (click)="getusers();">Get Users</button>
          </form>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="condition">
          <mat-card style="width:100%">
            <mat-card-title>User Data</mat-card-title>

            <mat-card-content>
              <div fxLayout="column" style="width:100%;">
                <table mat-table [dataSource]="users" class="table-width-fix">

                  <tr mat-row *matRowDef="let row; columns: [&apos;name&apos;,&apos;email&apos;,&apos;mobile&apos;];"></tr>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let table; let i = index;">{{table.email}}</td>
                  </ng-container>

                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let table; let i = index;">{{table.mobile}}</td>
                  </ng-container>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>