<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card>
    <mat-card-title>Card Title</mat-card-title>

    <mat-card-content>
      <ckeditor [config]="{placeholder: &apos;RichTextEditor&apos;}" [editor]="classicEditor"></ckeditor>
    </mat-card-content>

    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>